*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
ul{
    list-style: none;
}
input{
    
    border-radius: 5px;
    height: 25px;
    padding: 6px;
}

.btn{
    margin-left: 5px;
    border-radius: 5px;
    background-color: darkslategray;
    color: antiquewhite;
    padding: 6px;
}
.container{
    background-color: lightgreen ;
    width: 50%;
    margin: auto;
    
}
.bhati{
    width: 50%;
    margin: auto;
    /* background-color: red; */
}
.list{
    /* background-color: blue; */
    width: 50%;
    margin: auto;
    height: 200px;
    overflow-y:auto;
}

.bhati-input-div{
    display: flex;
    justify-content: center;
}
.ul-li{
    display: flex;
    
}
.ul-li div{
    width: 50%;
}

.ul-li div.edit-delete{
    display: flex;
    justify-content: end;
}

.btn:hover{
    background-color: aliceblue;
    color: blue;
}
.li-btn{
    
    border: none;
    background-color: transparent;
    
}
.li-btn:hover{
    cursor: pointer;
}


button{
  padding: 10px 15px;
  background-color: lightblue;
  margin: 2px;
  
}
